<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CONSUMER PRICE INDEX Bootstrap Template - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-/
  * AuthorName: CONSUMER PRICE INDEX
  * Updated: : BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="index.html">MARKETING LEADS PROBABILITY PREDICTION</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Lead Prediction</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>WasteWhiz: Data Science-enabled Marketing Efficiency Enhancement
      </h1>
   
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!-- ======= About ection ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="static/assets/img/About.jpg" class="img-fluid" alt="">
          </div>
        
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
            <h3>Model:</h3>
            <p class="fst-italic">
              Machine Learning model that accurately predicts the probability percentage of marketing leads converting into clients and purchasing the product. 
            </p>

            <h3>Business Context:</h3>
            <p class="fst-italic">
              The business context for this project revolves around an organization that offers a hiring assessment platform. The organization aims to reduce its yearly marketing spends by optimizing lead conversion. By predicting the success probability of marketing leads, the company can focus its resources more efficiently on leads with a higher likelihood of converting into clients. This, in turn, can lead to a more cost-effective marketing strategy and improved business outcomes.            
            </p>

    </section><!-- End About  Section -->

     <!-- ======= Portfolio Section ======= -->
     <section id="portfolio">
 <!-- <left> -->
      <div class="container" data-aos="fade-up">
      <p style="font-size:40px;">Enter the values</p>
     
              <form action = '/submit', method = 'post'>
              <br>
              <center>
                <label for="industryInput"><b>Industry</b></label>
                <br>
                <input type="text" id="industryInput" style="width: 300px;" list="industryList" name="industryInput" placeholder="Enter Industry">
                <datalist id="industryList">
                    <!-- List of industry options -->
                    <option value="Airlines/Air Couriers">
                      <option value="Alternative">
                      <option value="Apparel Products">
                      <option value="Apparel Retail">
                      <option value="Appliances/Tools">
                      <option value="Architecture/Engineering">
                      <option value="Associations">
                      <option value="Auto Dealers">
                      <option value="Auto Manufacturers">
                      <option value="Auto Parts/Services">
                      <option value="Automotive/Transportation">
                      <option value="B2B eCommerce">
                      <option value="BSPs (Broadband)">
                      <option value="Banks">
                      <option value="Beverages (Alcoholic)">
                      <option value="Beverages (Non-Alcoholic)">
                      <option value="BioTech/Drugs">
                      <option value="Biotech/Healthcare">
                      <option value="Book">
                      <option value="Casinos/Gaming">
                      <option value="Catalog/MailOrder">
                      <option value="Chemical Manufacturing">
                      <option value="Computer Hardware">
                      <option value="Concrete/Cement">
                      <option value="Conglomerates">
                      <option value="Constr - Supplies">
                      <option value="Constr/Agric Machinery">
                      <option value="Construction Services">
                      <option value="Construction/Agriculture">
                      <option value="Consumer Products">
                      <option value="Database">
                      <option value="Department/Discount">
                      <option value="ERP">
                      <option value="Education/Training">
                      <option value="Electric Utilities">
                      <option value="Electronics">
                      <option value="Energy">
                      <option value="Enterprise">
                      <option value="Entertainment/Media">
                      <option value="Fabricated Products">
                      <option value="Finance">
                      <option value="Finance Software">
                      <option value="Financial Services">
                      <option value="Food Processing">
                      <option value="Furniture/Fixtures">
                      <option value="Gold/Silver">
                      <option value="Government">
                      <option value="Grocery">
                      <option value="Hardware Consulting">
                      <option value="Health/Accident">
                      <option value="Healthcare Facilities/Services">
                      <option value="Home Improvement">
                      <option value="Hospitals/Clinics">
                      <option value="Hotels/Motels">
                      <option value="Human Resources">
                      <option value="ISPs">
                      <option value="Industrial Equip">
                      <option value="Information Services">
                      <option value="Insurance">
                      <option value="Internet">
                      <option value="Internet Consulting">
                      <option value="Internet Software">
                      <option value="Investment Bank/Brokerage">
                      <option value="Iron/Steel">
                      <option value="Legal">
                      <option value="Leisure/Hospitality">
                      <option value="Lending/Mortgage">
                      <option value="Life">
                      <option value="MSPs (Mgmt)">
                      <option value="Machine Tools">
                      <option value="Marketing/Advertising">
                      <option value="Materials/Manufacturing">
                      <option value="Medical Equipment">
                      <option value="Metals/Mining">
                      <option value="Movies">
                      <option value="Multimedia Hardware">
                      <option value="Multimedia Software">
                      <option value="Music">
                      <option value="Natural Gas">
                      <option value="Network Infrastructure">
                      <option value="Networking/Comm.">
                      <option value="Newspapers">
                      <option value="Non-Profit">
                      <option value="OSPs (Optical)">
                      <option value="Office Equipment">
                      <option value="Office Supplies">
                      <option value="Oil, Gas, Coal">
                      <option value="Online Banking">
                      <option value="Other">
                      <option value="Other Biz Products">
                      <option value="Other Biz Services">
                      <option value="Other Consulting">
                      <option value="Other Investment Firms">
                      <option value="Other Vehicles">
                      <option value="Outsourcing">
                      <option value="Packaging/Containers">
                      <option value="Periodicals">
                      <option value="Peripherals/Comp.">
                      <option value="Personal Services">
                      <option value="Personal/Household Products">
                      <option value="Photography">
                      <option value="Plastic/Rubber">
                      <option value="Plumbing/HVAC">
                      <option value="Printing Services">
                      <option value="Professional Services">
                      <option value="Property/Casualty">
                      <option value="Publishing">
                      <option value="REIT">
                      <option value="Radio">
                      <option value="Railroads">
                      <option value="Real Estate">
                      <option value="Recreational Products">
                      <option value="Recreational Services">
                      <option value="Religious Groups">
                      <option value="Rentals/Leasing">
                      <option value="Restaurants">
                      <option value="Retail">
                      <option value="SaaS">
                      <option value="Sales/Marketing Services">
                      <option value="Satellite/RF/Micro">
                      <option value="Schools">
                      <option value="Scientific">
                      <option value="Security Hardware">
                      <option value="Security Services">
                      <option value="Security Software">
                      <option value="Semiconductors">
                      <option value="Servers/Storage">
                      <option value="Service Providers">
                      <option value="Services">
                      <option value="Shipping">
                      <option value="Social Services">
                      <option value="Software">
                      <option value="Software Consulting">
                      <option value="Specialty">
                      <option value="Speech Recognition">
                      <option value="Staffing">
                      <option value="Staffing/Outsourcing/HR">
                      <option value="Supply Chain">
                      <option value="Technology Consulting">
                      <option value="Technology Retail">
                      <option value="Telecom Consulting">
                      <option value="Telecom Hardware">
                      <option value="Telecom Services/Telephone Companies">
                      <option value="Television/Cable">
                      <option value="Testing">
                      <option value="Training">
                      <option value="Trucking">
                      <option value="Trucks/Buses/RVs">
                      <option value="Utilities">
                      <option value="Venture Capital">
                      <option value="Vitamins/Nutritionals/Other">
                      <option value="WSPs (Wireless)">
                      <option value="Warehousing/Logistics">
                      <option value="Waste/Recycling">
                      <option value="Water Utilities">
                      <option value="Web Development">
                      <option value="Wireless Consulting">
                      <option value="Wireless Hardware">
                      <option value="Wireless Software Networking">
                      <option value="Wood/Paper">
                      <option value="Wood/Timber">
                      <option value="eBusiness">
                      <option value="eCommerce">
                      <option value="eMail/Messaging">
                    
                </datalist>
            </center>


            <br>
            <center><label for="Deal_Value"><b>Deal_value</b></label></center> 
            
             <center><input type="number" style="width: 300px;" id="Deal_value" min = 1551.000000 max = 500000.0 name="Deal_value" placeholder="Enter here"></center>
             <center>
              <label for="Weighted_amount"><b>Weighted_amount</b></label>
              <br>
              <input type="number" style="width: 300px;" id="Weighted_amount" min="1" max="8708" name="Weighted_amount" placeholder="Enter here">
          </center>
          
          <br>
          
          <center>
              <label for="fundCategoryInput"><b>Fund_Category</b></label>
              <br>
              <input type="text" id="fundCategoryInput" style="width: 300px;" list="fundCategories" name="fundCategoryInput" placeholder="Enter here">
              <datalist id="fundCategories">
                  <!-- List of fund categories as options -->
                  <option value="Category 1">
                  <option value="Category 2">
                  <option value="Category 3">
                  <option value="Category 4">
              </datalist>
          </center>

        
            <br>
            <center>
              <label for="geographyInput"><b>Geography</b></label>
              <br>
              <input type="text" id="geographyInput" style="width: 300px;" list="geographies" name="geographyInput" placeholder="Enter here">
              <datalist id="geographies">
                  <!-- List of geography options -->
                  <option value="India">
                  <option value="USA">
                  <!-- Add more options as needed -->
              </datalist>
          </center>

          
                      

              <br>
                <center>
                <label for="designationInput"><b>Designation</b></label>
                <br>
                <input type="text" id="designationInput" style="width: 300px;" list="designations" name="designationInput" placeholder="Enter Designation">
                <datalist id="designations">
                    <!-- List of designation options -->
                    <option value="CEO">
                    <option value="Chairman">
                    <option value="Chief Executive Officer">
                    <option value="Executive Vice President">
                    <option value="SVP">
                    <option value="Vice President">
                </datalist>
            </center>
            <br>

            <br>
            <center>
              <label for="resourceInput"><b>Resource</b></label>
              <br>
              <input type="text" id="resourceInput" style="width: 300px;" list="resourceOptions" name="resourceInput" placeholder="Enter Resource">
              <datalist id="resourceOptions">
                  <!-- List of resource options as suggestions -->
                  <option value="Cannot deliver">
                  <option value="Deliverable">
                  <option value="No">
                  <option value="Not enough">
                  <option value="We have all the requirements">
                  <option value="Yes">
                  <option value="other">
              </datalist>
          </center>
          <br>
        <center>    
          <label for="lastLeadUpdateInput"><b>Last_lead_Update</b></label>
          <br>
          <input type="text" id="lastLeadUpdateInput" style="width: 300px;" list="lastLeadUpdateList" name="lastLeadUpdateInput" placeholder="Enter Last Lead Update">
                <datalist id="lastLeadUpdateList">
                    <!-- List of Last Lead Update options -->
                    <option value="2 days back">
                    <option value="5 days back">
                    <option value="Did not hear back after Level 1">
                    <option value="More than 2 weeks">
                    <option value="5 days back">
                    <option value="More than a week back">  
                    <option value="No track">
                    <option value="Pending">    
                    <option value="Up-to-date">  
                    <option value="more than a month">
                    <option value="other">    
            
                  </datalist>
        </center>
        <br>
            
          <center>
            <label for="internalRatingInput"><b>Internal_rating</b></label>
            <br>
            <input type="number" style="width: 300px;" id="internalRatingInput" min="1" max="5" step="1" name="internalRating" placeholder="Enter here" oninput="validateInput(this)">
        </center>   
            <br>
            <center>     <input type ='submit' value = 'submit'>    
   
              </form>
                
           


      
    </section><!-- End Portfolio Section -->


    <!-- ======= Contact Us Section ======= -->
     <section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title" style="text-align: left;">
      <h2>Contact Us</h2>
          <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
             <i class="bi bi-geo-alt"></i>
               <h4>Location:</h4>
                 The Smartbridge,SmartInternz
                 6th floor, Sundarayya Vignana Kendram
                 Technical Block, Madhava Reddy Colony, Gachibowli, Hyderabad 
                 Telangana 500032
                 </div>
                 
                  </div> 
                     <i class="bi bi-envelope"></i>
                    <p>thesmartbridge.com</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>+91 6300432044</p>
              </div>

    </section><!-- End Contact Us Section -->

   
  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>