<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CONSUMER PRICE INDEX Bootstrap Template - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-/
  * AuthorName: CONSUMER PRICE INDEX
  * Updated: : BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="index.html">WATER PUMP RUL PREDICTION </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto " href="#portfolio"> RUL Prediction</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Futuristic Analytics for Pump Health: Machine-Driven Prediction of Remaining Useful Life(RUL)
      </h1>
   
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

<!-- ======= About Section ======= -->

<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About</h2>
    </div>

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="static/assets/img/About.jpg" class="img-fluid" alt="" style="width: 100%; height: auto;">
      </div>

      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <div style="margin-bottom: 20px;">
          <h3 style="font-size: 27px; color: green;">Model:</h3>
          <p class="fst-italic" style="font-size: 16px; color: green; text-align: justify;">
            Accurate Predictive Maintenance model can result in significant cost savings by minimizing unplanned downtime, reducing the need for unnecessary maintenance, and extending the overall lifespan of equipment.
          </p>
        </div>

        <div>
          <h3 style="font-size: 27px; color: green;">Business Context:</h3>
          <p class="fst-italic" style="font-size: 16px; color: green; text-align: justify;">
            The primary goal of the model is likely to enable Predictive Maintenance. Instead of relying on fixed maintenance schedules or reacting to failures, the model predicts when maintenance is required based on the current state of the equipment as measured by the sensor values. This can help organizations optimize maintenance schedules, reduce downtime, and avoid unexpected failures.
          </p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End About Section -->


    <!-- ======= Portfolio Section ======= -->
<section id="portfolio">
  <div class="container" data-aos="fade-up">
      <p style="font-size: 40px;">Enter the values</p>

      <form action="/submit" method="post" class="form-container">
          <div class="row">
              <!-- sensor_22 -->
              <div class="col">
                  <label for="sensor_22"><b>Sensor 22: (0-585)</b></label>
                  <br> 
                  <input type="number" style="width: 300px;" id="sensor_22" min = 0.000000 max = 585 name="sensor_22" placeholder="Enter here">
              </div>

              <!-- sensor_30 -->
              <div class="col">
                  <label for="sensor_30"><b>Sensor 30: (7-1214) </b></label>
                  <br>
                  <input type="number" style="width: 300px;" id="sensor_30" min = 7 max = 1214 name="sensor_30" placeholder="Enter here">
              </div>
          </div>

          <!-- Continue the same pattern for the remaining sensors -->

          <div class="row">
              <!-- sensor_29 -->
              <div class="col">
                  <label for="sensor_29"><b>Sensor 29: (0.6-1254)</b></label>
                  <br>
                  <input type="number" style="width: 300px;" id="sensor_29" min = 0.636574 max = 1254 name="sensor_29" placeholder="Enter here">
              </div>

              <!-- sensor_25 -->
              <div class="col">
                  <label for="sensor_25"><b>Sensor 25: (0-839) </b></label>
                  <br>
                  <input type="number" style="width: 300px;" id="sensor_25" min = 0.000000 max = 839 name="sensor_25" placeholder="Enter here">
              </div>
          </div>

          <div class="row">
              <!-- sensor_23 -->
              <div class="col">
                  <label for="sensor_23"><b>Sensor 23: (0-1156)</b></label>
                  <br>
                  <input type="number" style="width: 300px;" id="sensor_23" min = 0.000000 max = 1156 name="sensor_23" placeholder="Enter here">
              </div>

              <!-- sensor_32 -->
              <div class="col">
                  <label for="sensor_32"><b>Sensor 32: (0.2-1617)</b></label>
                  <br>
                  <input type="number" style="width: 300px;" id="sensor_32" min = 0.2  max = 1617 name="sensor_32" placeholder="Enter here">
              </div>
          </div>

          <!-- Continue the same pattern for the remaining sensors -->

          <div class="row">
              <!-- sensor_26 -->
              <div class="col">
                  <label for="sensor_26"><b>Sensor 26: (43-585)</b></label>
                  <br>
                  <input type="number" style="width: 300px;" id="sensor_26" min = 43 max = 585 name="sensor_26" placeholder="Enter here">
              </div>

              <!-- sensor_28 -->
              <div class="col">
                  <label for="sensor_28"><b>Sensor 28: (13-1841)</b></label>
                  <br>
                  <input type="number" style="width: 300px;" id="sensor_28" min = 13  max = 1841 name="sensor_28" placeholder="Enter here">
              </div>
          </div>

          <div class="row">
              <!-- sensor_35 -->
              <div class="col">
                  <label for="sensor_35"><b>Sensor 35: (0-694)</b></label>
                  <br>
                  <input type="number" style="width: 300px;" id="sensor_35" min = 0.000000 max = 694 name="sensor_35" placeholder="Enter here">
              </div>

              <!-- sensor_00 -->
              <div class="col">
                  <label for="sensor_00"><b>Sensor 00: (1-2.549)</b></label>
                  <br>
                  <input type="number" style="width: 300px;" id="sensor_00" min = 1.009375 max = 2.549016 name="sensor_00" placeholder="Enter here">
              </div>
          </div>

          <!-- Continue the same pattern for the remaining sensors -->

          <div class="row">
              <!-- sensor_36 -->
              <div class="col">
                  <label for="sensor_36"><b>Sensor 36: (2.26-983)</b></label>
                  <br>
                  <input type="number" style="width: 300px;" id="sensor_36" min = 2.26 max = 983  name="sensor_36" placeholder="Enter here">
              </div>

              <!-- sensor_13 -->
              <div class="col">
                  <label for="sensor_13"><b>Sensor 13: (0-22)</b></label>
                  <br>
                  <input type="number" style="width: 300px;" id="sensor_13" min = 0.000000 max = 22  name="sensor_13" placeholder="Enter here">
              </div>
          </div>

          <br>
          <center>
              <input type="submit" value="Submit">
          </center>
      </form>
  </div>
</section><!-- End Portfolio Section -->



    <!-- ======= Contact Us Section ======= -->
     <section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title" style="text-align: left;">
      <h2>Contact Us</h2>
          <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
             <i class="bi bi-geo-alt"></i>
               <h4>Location:</h4>
                 The Smartbridge,SmartInternz
                 6th floor, Sundarayya Vignana Kendram
                 Technical Block, Madhava Reddy Colony, Gachibowli, Hyderabad 
                 Telangana 500032
                 </div>
                 
                  </div> 
                     <i class="bi bi-envelope"></i>
                    <p>thesmartbridge.com</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>+91 6300432044</p>
              </div>

    </section><!-- End Contact Us Section -->

   
  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>