<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SmartBridge Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: SmartBridge
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/SmartBridge-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    /* Add this CSS to create two columns for input boxes */
    .form-container .row {
      display: flex;
      flex-wrap: wrap;
      gap: 200px; /* Adjust the gap as needed */
    }
  
    .form-container .col {
      flex: 1;
    }
  
    .form-container label,
    .form-container input {
      display: block;
      width: 100%;
      margin-bottom: 0px; /* Adjust the margin-bottom to reduce space */
    }
  </style>
</head>


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="static/img/logo.png" alt="">
        <span>SmartBridge</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#predict Productivity">Predict Productivity</a></li>
         
         

   

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Labour Analytics in Garment Manufacturing: Enhancing Productivity with ML</h1>
          <div data-aos="fade-up" data-aos-delay="600">
            <br>
            <br>
            <br>
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="static/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h2>Model</h2>
              <p></p>
              <p>
                An effective Predictive Productivity model can yield substantial cost savings by minimizing unexpected productivity downtime, diminishing the necessity for unnecessary interventions, and prolonging the overall productivity lifespan of the manufacturing processes.
  
              <h2>Business Context</h2>
              <p></p>
              <p>
                The Garment Industry is a vital component of the global industrial landscape, showcasing the impact of industrial globalization in the modern era. Known for its labor-intensive nature and reliance on manual processes, the industry faces the challenge of meeting the substantial global demand for garment products. The efficiency and performance of employees in garment manufacturing companies play a crucial role in satisfying this demand. Decision-makers in the industry have a keen interest in monitoring, analyzing, and predicting the productivity performance of working teams within their factories.              </p>
        
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="static/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->


  
    <!-- ======= predict Productivitys Section ======= -->  
    
<section id="predict Productivity">
  <div class="container" data-aos="fade-up">
      <p style="font-size: 40px;">Enter the values</p>

    <form action="/submit" method="post" class="form-container">
            <div class="row">
              <div class="col-md-6">
                <label for="Quarter"><b>Quarter</b></label>
    
                <input type="text" id="Quarter" style="width: 300px;" list="fundCategories" name="Quarter" placeholder="Enter here" title='Select the Quarter Represent A portion of the month. A month  divided into four quarters'>
                <datalist id="fundCategories">
                   
                    <option value="Quarter1">
                    <option value="Quarter2">
                    <option value="Quarter3">
                    <option value="Quarter4">
                    <option value="Quarter5">

                </datalist>
            </div>

      
              <div class="col-md-6">
                <label for="Department"><b>Department</b></label>
                
                <input type="text" id="Department" style="width: 300px;" list="department" name="Department" placeholder="Enter here" title='Select the Department Represent Associated department with the instance'>
                <datalist id="department">
                   
                    <option value="sweing">
                    <option value="finishing">
                </datalist>
              </div>
          </div>


          <div class="row">
            
              <div class="col-md-6">
                <label for="Day"><b>Day</b></label>
                <input type="text" id="Day" style="width: 300px;" list="day" name="Day" placeholder="Enter here" title='Select the Day Represent Day of the Week) '>
                <datalist id="day">
                   
                    <option value="Monday">
                    <option value="Tuesday">
                    <option value="Wednesday">
                    <option value="Thursday">
                    <option value="Saturday">
                    <option value="Sunday">

                </datalist>
              </div>

              <div class="col-md-6">
                  <label for="Team"><b> Team Number  </b></label>
    
                  <input type="number" style="width: 300px;" id="Team" min="0" max="12" name="Team"
                      placeholder="Enter here" title=" Select team no between (1-12) Associated team number with the instance.">
              </div>
          </div>
          <div class="row">
            <div class="col-md-6">
       <div class="col-md-6">
                  <label for="TargetedProductivity"><b>Targeted Productivity</b></label>
                  <input type="number" style="width: 300px;" id="TargetedProductivity" min="0.07" max="0.8" step="0.01" name="TargetedProductivity"
                      placeholder="Enter here" title="Please enter a value between 0.07 and 0.8 for the Targeted Productivity Represents Targeted productivity set by the Authority for each team for each day.).">
              </div>
            </div>

    
            <div class="col-md-6">
                <label for="Standard Minute Value"><b> Standard Minute Value (SMV)</b></label>
               
                <input type="number" style="width: 300px;" id="Standard_Minute_Value" min="2.9" max="54" step="0.1" name="Standard_Minute_Value"
                    placeholder="Enter here" title="Please enter a value between 2.9 and 54 Standard Minute Value, it is the allocated time for a task.">
            </div>
        </div>

       
        <div class="row">
          
            <div class="col-md-6">
                <label for="over_time"><b>Over Time</b></label>
         
                <input type="number" style="width: 300px;" id="over_time" min="0" max="15000" name="over_time"
                    placeholder="Enter here" title="(Please enter a value between 0 and 3600 for the Over Time Represents the amount of overtime by each team in minutes)">
            </div>

            <div class="col-md-6">
                <label for="sensor_25"><b>Incentive</b></label>
  
                <input type="number" style="width: 300px;" id="Incentive" min="0" max="3600" name="Incentive"
                    placeholder="Enter here" title="Please enter a value between 0 and 3600 for the Incentive Represents the amount of financial incentive (in BDT) that enables or motivates a particular course of action.">
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <label for="idle_time"><b>Idle Time</b></label>
              <input type="number" style="width: 300px;" id="idle_time" min="0" max="300" name="idle_time"
                  placeholder="Enter here" title="Please enter a value between 0 and 300 Idle Time Represents The amount of time when the production was interrupted due to several reasons.">
          </div>

  
          <div class="col-md-6">
              <label for="idle_men"><b> Idle Men</b></label>
             
              <input type="number" style="width: 300px;" id="idle_men" min="0" max="45" name="idle_men"
                  placeholder="Enter here" title="Please enter a value between 0 and 45 for the Idle Men Represents The number of workers who were idle due to production interruption.">
          </div>
      </div>

      

        <div class="row">
          
            <div class="col-md-6">
                <label for="no_of_style_change"><b>No of Style Change</b></label>
         
                <input type="number" style="width: 300px;" id="no_of_style_change" min="0" max="2" name="no_of_style_change"
                    placeholder="Enter here" title="Please enter a value between 0 and 2 for the No of Style Change Represents Number of changes in the style of a particular product.">
            </div>

            <div class="col-md-6">
                <label for="no_of_workers"><b> No of Workers</b></label>

                <input type="number" style="width: 300px;" id="no_of_workers" min="2" max="89" name="no_of_workers"
                    placeholder="Enter here" title="Please enter a value between 2 and 89 for the No of Workers Represents Number of workers in each team">
            </div>
        </div>
      
          


        <br>
          <!-- Add the remaining rows here -->

          <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
              <input type="submit" value="Submit">
            </div>
          </div>
        </form>
      </div>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
   
                  <h3>Address</h3>
                  <p>Gachibowli,<br>Hyderabad, 500032</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
     
                  <h3>Call Us</h3>
                  <p>+91 xxx xxx xxxx</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">

                  <h3>Email Us</h3>
                  <p>info@thesmartbridge.com<br>www.thesmartbridge.com</p>
                </div>
              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>